.SearchImg{
    position: absolute;
    width: 100%;
    z-index: -9999;
    min-height: 100vh;
}

.Hero{
    position: absolute;
    z-index: ;
}

.search {
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 5%;
    background-color: #ffffff;
  }
  .searchForm input {
    width: 60%;
    margin-left: 20%;
    outline: none;
    padding: 10px;
    border-radius: 10px;
  }
  .searchBtn {
    width: 20%;
    border-radius: 50px;
    background-color: #44c38c;
    border: 1px solid #44c38c;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 10px;
    display: block;
    margin: auto;
  }
  